<main class="success-container">
    <div class="success-card">
        <div class="success-icon">
            <i class="fa-solid fa-check" aria-hidden="true"></i>
        </div>
        <h1>Cadastro Realizado!</h1>
        <p>Obrigado por se cadastrar como voluntário! Nossa equipe analisará seu perfil e entrará em contato em breve
            com mais informações.</p>

        <div class="success-buttons">
            <a href="/" class="btn btn-primary nav-link">Voltar ao Início</a>
            <a href="/projetos" class="btn btn-secondary-outline nav-link">Ver Projetos</a>
        </div>

    </div>
</main>